.header{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 100vw;
  background-color: #F7DC16;
  z-index: 99;
}

.logo{
    height: 50px;
    margin: 5px 43vw 5px 0vh;
    justify-content: space-between;
    justify-content: center;
}

.bars{
    color: white; 
    background-color: #516fbb;
    height: 35px;
    border-radius: 10px;
    margin: 10px;
}
